<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/{{ index .Site.Data.js.hash "main.js" }}"> </script>
<!-- <script src="{{ "js/jquery.cookie.js" | relURL }}"> </script>
<script src="{{ "js/ekko-lightbox.js" | relURL }}"></script>
<script src="{{ "js/jquery.scrollTo.min.js" | relURL }}"></script>
<script src="{{ "js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "js/front.js" | relURL }}"></script> -->
